<div id="container-instructions">

    <h1>Instructions Quiz</h1>

    <hr>

    <!-- <div id= "trial"> -->
    <div class= "instructions well">
            
        <FORM>
        
        What kind of objects will you see?<br>
        <input type="radio" name="q1" value="0" class="qq"> exotic plants<br>
        <input type="radio" name="q1" value="0"> alien artifacts<br>
        <input type="radio" name="q1" value="1"> alien crystals<br>
        <input type="radio" name="q1" value="0"> species of fish<br>
        <br>

        You will be asked to demonstrate<br>
        <input type="radio" name="q2" value="0" class="qq"> whether or not they float.<br>
        <input type="radio" name="q2" value="1"> how they will continue to grow.<br>
        <input type="radio" name="q2" value="0"> which ones are harmful.<br>
        <br>

        You can activate/deactivate line segments by<br>
        <input type="radio" name="q3" value="0" class="qq"> clicking on them.<br>
        <input type="radio" name="q3" value="0"> clicking the green and red buttons.<br>
        <input type="radio" name="q3" value="1"> all of the above.<br>
        <input type="radio" name="q3" value="0"> none of the above.<br>
        <br>
        
        The order of your actions are important.<br>
        <input type="radio" name="q4" value="0" class="qq"> Yes.<br>
        <input type="radio" name="q4" value="1"> No.<br>
        <br>

        You will need to use the zoom to see some images better.<br>
        <input type="radio" name="q5" value="1" class="qq"> True<br>
        <input type="radio" name="q5" value="0"> False<br>  
        <br>
        
        </FORM>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

     <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button id="submit_quiz" class="btn btn-primary btn-lg continue">
                Check quiz <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>