<div id="container-exp">
	<div id="pre"></div>
	<div id="trial">
		<p style="text-align:center;" >Trial <span id="curr_trial"></span> of <span id="tot_trial"></span> </p>
		<p style="text-align:center;" >
		A surface was infected with a new type of alien crystal.<br>
		The crystal has been growing for some time.
		</p>
		
		<table align="center">
			<tr>
				<td><b>Before infection</b><br><span id="axiom"></span></td>			
				<td style="font-size:60px;">&nbsp;&#8594;&nbsp;</td>
				<td><b>After infection</b><br><span id="base"></span></td>
			</tr>
		</table>

		<p style="text-align:center;">
		<br>		
		<b>What do you think the crystal will look like if you let it grow longer?</b>
		<br>
		Please use the interactive display below to demonstrate how the crystal will grow. <button id="review_button" type="button" class="btn btn-primary btn-sm"> Review instructions </button>
		<br>
		</p>	

		<table align="center">
			<tr>
				<td>
					<svg height="400" width="400" id="dynamic_display" style="border: 1px solid black; background-color: white;"></svg>
				</td>
				<td align="left">
					<button id="active_all" class="btn btn-success btn-sm">All</button>
					<br>
					<button id="deactive_all" class="btn btn-danger btn-sm">None</button>					
				</td>				
			</tr>
		</table>

		<!-- <p style="text-align:center;">
		<button id="active_all" class="btn btn-success btn-sm">All</button>
		<button id="deactive_all" class="btn btn-danger btn-sm">None</button>
		<svg height="400" width="400" id="dynamic_display" style="border: 1px solid black;"></svg>
		</p>		
		<hr> -->

		<hr>

		<div id="selection-confirm" style="display:none;">
			<button id="confirm_button" class="btn btn-primary btn-lg continue">
            	Continue
            </button>
		</div>

	</div>
</div>